<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Calculate the forward kinematics of the robot and publish the results via tf using parameter robot_description.
-->
<launch>
	<param name="robot_description" command="cat $(find robot_description)/urdf/caterpillar_mobile_robot.urdf" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
</launch>
