<?xml version="1.0" encoding="UTF-8"?>
<!-- Start simulation -->
<launch>
  <arg name="model_name"  default="wheeled_robot"  doc="[burger, wheeled_robot]"/>
  <arg name="spawn_x"     default="0.0"/>
  <arg name="spawn_y"     default="0.0"/>
  <arg name="spawn_z"     default="0.1"/>
  <arg name="spawn_yaw"   default="0.0"/>
  
  <!-- 1. Spawn a model -->
  <param name="robot_description" command="$(find xacro)/xacro $(find robot_description)/urdf/$(arg model_name).urdf.xacro" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model $(arg model_name) -x $(arg spawn_x) -y $(arg spawn_y) -z $(arg spawn_z) -Y $(arg spawn_yaw) -param robot_description"/>

  <!-- 2. Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
</launch>
