<?xml version="1.0" encoding="UTF-8"?>
<!-- Start simulation -->
<launch>
  <arg name="gz_client" default="false"/>
  <arg name="gz_world" default="world.world"/>

  <env name="GAZEBO_MODEL_PATH" value="$(find robot_description)/models" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find robot_description)/worlds/$(arg gz_world)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gz_client)"/>
    <arg name="debug" value="false"/>
  </include>

</launch>
