<?xml version="1.0" encoding="UTF-8"?>
<!-- Start simulation -->
<launch>
  <arg name="model"     default="burger" doc="[waffle, caterpillar_mobile_robot, ...]"/>
  <arg name="spawn_x"   default="0.0"/>
  <arg name="spawn_y"   default="0.0"/>
  <arg name="spawn_yaw" default="0.0"/>

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model turtlebot3_$(arg model) -x $(arg spawn_x) -y $(arg spawn_y) -Y $(arg spawn_yaw) -param robot_description"/>
</launch>
