<?xml version="1.0" encoding="UTF-8"?>
<!-- Start simulation -->
<launch>
  <arg name="model" default="burger" doc="[waffle, caterpillar_mobile_robot, ...]"/>
  <arg name="model_type" default=".urdf.xacro" doc="[.urdf.xacro, .sdf, ...]"/>
  <arg name="robot_description_pkg" default="turtlebot3_description" doc="[turtlebot3_description, robot_description, ...]"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="gz_client" default="false"/>

  <!-- 1. Start Gazebo with empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find robot_software)/worlds/world.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gz_client)"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- 2. Set parameters -->
  <param name="model" value="$(arg model)"/>
  <param name="robot_description" command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <!-- 3. Spawn a robot into Gazebo-->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

  <!-- 4. Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>	

</launch>
