<?xml version="1.0" encoding="UTF-8"?>
<!-- Bring up all the hardware and transform publishes that the robot needs -->
<launch>
  <arg name="model" default="burger" doc="[burger, waffle, caterpillar_mobile_robot, ...]" />

  <!-- 1. Sensors: ydlidar and camera -->
  <include file="$(find robot_software)/launch/real_robot/ydlidar.launch"/>
  <include file="$(find robot_software)/launch/real_robot/camera.launch"/>

  <!-- 2. Serialnode for communication between RPI and stm32 -->
  <node name="serial_node" pkg="rosserial_python" type="serial_node.py">
    <param name="port" value="/dev/stm32" />
    <param name="baud" value="115200" />
  </node>

  <!-- 3. The transform configuration from position data that rosserial get from stm32 to odom data for TF. -->
  <node name="tf_broadcaster" pkg="robot_software" type="robot_tf_broadcaster.py">
    <remap from="input_pose" to="/positionTopic"/>
  </node>
  <node name="state_publisher" pkg="robot_software" type="state_publisher" />

  <!-- 4. Calculate the forward kinematics of the robot and publish the results via tf using parameter robot_description. -->
  <param name="robot_description" command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
</launch>

