<launch>
  <arg name="ydlidar_output"        default="screen" />
  <arg name="serial_node_output"    default="screen" />
  <arg name="tf_broadcaster_output" default="screen" />

  <include file="$(find robot_software)/launch/real_robot/ydlidar.launch">
    <arg name="ydlidar_output" value="$(arg ydlidar_output)"/>
  </include>

  <include file="$(find robot_software)/launch/real_robot/camera.launch"/>

  <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="$(arg serial_node_output)">
    <param name="port" value="/dev/stm32" />
    <param name="baud" value="115200" />
  </node>

  <node name="tf_broadcaster" pkg="robot_software" type="robot_tf_broadcaster.py" output="$(arg tf_broadcaster_output)">
    <remap from="input_pose" to="/positionTopic"/>
  </node>

</launch>

