<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="enable_move_base"  default="true" doc="[true, false]"/>
  <arg name="map_name"          default="world" doc="[world]"/>
  <arg name="initial_pose_x"    default="0.0"/>
  <arg name="initial_pose_y"    default="0.0"/>
  <arg name="initial_pose_yaw"  default="0.0"/>

  <!-- 1. Spawn model -->
  <include file="$(find robot_software)/launch/simulation/gz_spawn_model.launch">
  </include>

  <!-- 2. Navigation settings -->
  <group if="$(arg enable_move_base)">
    <include file="$(find robot_software)/launch/navigation_stack/localization_stack.launch">

    </include>
  </group>
  <group unless="$(arg enable_move_base)">
    <include file="$(find robot_software)/launch/teleop_gui.launch"/>
    <include file="$(find robot_software)/launch/navigation_stack/amcl.launch">
      <arg name="initial_pose_x" default="$(arg initial_pose_x)"/>
      <arg name="initial_pose_y" default="$(arg initial_pose_y)"/>
      <arg name="initial_pose_a" default="$(arg initial_pose_yaw)"/>
    </include>
    <node name="map_server" pkg="map_server" type="map_server" args="$(find robot_software)/maps/$(arg map_name).yaml" />
  </group>
</launch>
