<?xml version="1.0" encoding="UTF-8"?>
<!-- Start amcl simulation with teleop control -->
<launch>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find robot_software)/maps/map.yaml" />
  <include file="$(find robot_software)/launch/simulation/simulation.launch"/>
  <include file="$(find robot_software)/launch/navigation_stack/amcl.launch"/>
  <include file="$(find robot_software)/launch/teleop.launch"/>
  <include file="$(find robot_software)/launch/rviz.launch"/>
</launch>
