<?xml version="1.0"?>
<!--
Start real robot on RPI
-->
<launch>
  <arg name="teleop_output"         default="screen" />

  <include file="$(find robot_software)/launch/real_robot/robot_configuration.launch"/>
  <include file="$(find robot_software)/launch/navigation_stack/gmapping.launch"/>
  <include file="$(find robot_software)/launch/simulation/state_publisher.launch"/>
  <include file="$(find robot_software)/launch/teleop_console.launch"/>
</launch>
