<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Start simulation:
1. Start Gazebo with empty world
2. Spawn a robot into Gazebo
3. Robot state publisher 
4. Start rviz with saved settings
5. Start controller (robot simulator)
6. Create gui to robot control (linear and angular speed)
-->
<launch>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="recording" value="false"/>
		<arg name="debug" value="false"/>
	</include>

	<include file="$(find robot_description)/launch/spawn.launch"/>


	<param name="robot_description" command="cat $(find robot_description)/urdf/caterpillar_mobile_robot.urdf" />
<!--
	<param name="robot_description" command="$(find xacro)/xacro '$(find robot_description)/urdf/caterpillar_mobile_robot.urdf'" />
 =-->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="use_gui" value="False"/>
	</node>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>

	<include file="$(find robot_software)/launch/rviz.launch"/>

  <node pkg="robot_software" type="controller.py" name="robot_controller"/>

  <node pkg="rqt_robot_steering" type="rqt_robot_steering" name="rqt_robot_steering"/>
</launch>
