<?xml version="1.0" encoding="UTF-8"?>
<!-- Spawn robot into gazebo world -->
<launch>
    <arg name="robot_name" default="caterpillar_mobile_robot"/>
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find robot_description)/urdf/$(arg robot_name).urdf'" />
    
    <node name="my_robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model $(arg robot_name) -x $(arg x) -y $(arg y) -z $(arg z)" />
          
</launch>
