<?xml version="1.0"?>
<robot name="my_robot">

<xacro:property name="base_length" value="0.25" />
<xacro:property name="base_width" value="0.2" />

<xacro:property name="caterpillar_length" value="0.30" />
<xacro:property name="caterpillar_width" value="0.05" />
<xacro:property name="caterpillar_height" value="0.12" />

<link name="base_link">
  <visual>
    <origin xyz="0 0 0.1" />
    <geometry>
      <box size="0.25 0.2 0.05"/>
    </geometry>
    <material name="gray">
      <color rgba=".2 .2 .2 1" />
    </material>
  </visual>
</link>


<link name="leg1">
  <visual>
    <origin xyz="0 0 0" />
    <geometry>
      <box size="0.30 0.05 0.12" />
    </geometry>
    <material name="gray2">
      <color rgba="0.28 0.34 0.39 1"/>
    </material>
  </visual>
</link>
<joint name="leg1connect" type="fixed">
  <origin xyz="0 .125 0.06" />
  <parent link="base_link"/>
  <child link="leg1"/>
</joint>


<link name="leg2">
  <visual>
    <origin xyz="0 0 0" />
    <geometry>
      <box size=".3 .05 .12" />
    </geometry>
    <material name="gray3">
      <color rgba="0.15 0.22 0.27 1"/>
    </material>
  </visual>
</link>
<joint name="leg2connect" type="fixed">
  <origin xyz="0 -.125 0.06" />
  <parent link="base_link"/>
  <child link="leg2"/>
</joint>


<link name="head">
  <visual>
    <origin xyz="0 0 0" />
    <geometry>
      <box size=".05 .1 .03" />
    </geometry>
    <material name="red">
      <color rgba="0.7 0 0 1"/>
    </material>
  </visual>
</link>
<joint name="head_connect" type="fixed">
  <origin xyz="0.10 0 0.135" />
  <parent link="base_link"/>
  <child link="head"/>
</joint>

</robot>
