<launch>
  <include file="$(find ydlidar_ros)/launch/lidar.launch" />
  <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
    <param name="port" value="/dev/ttyACM0" />
    <param name="baud" value="115200" />
  </node>
  <node name="robot_tf_broadcaster" pkg="software" type="robot_tf_broadcaster.py" output="screen">
    <remap from="input_pose" to="/positionTopic"/>
    <param name="turtle_tf_name" type="string" value="robot"/>
  </node>
</launch>
